section{
    height: 2000px;
}
main{
    display: flex;
    gap: 20px;
    padding: 20px;
    position: static;
    top: 0;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.pbox{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: orange;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.pbox:nth-child(1){
    position: relative;
    top: 10px;
    right: 10px;
}

.pbox:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.pbox:nth-child(3){
    position: fixed;
    bottom: 5%;
    right: 5%;
}


#container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    grid-template-areas: 'sec sec sec'
    'bar side side'
    'nav nav nav'
    'footer footer footer';
    
}

.gbox{
    height: 100px;
    border: 2px solid black;
}
.gbox:nth-child(4){
    grid-row: 1/2;
    /* same as grid-row property both start-end */
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-column: 1/2;
    grid-area: nav;
}

.gbox:nth-child(5){
    grid-area: footer;
}
.gbox:nth-child(3){
    grid-area: side;
}
.gbox:nth-child(2){
    grid-area: bar;
}
.gbox:nth-child(1){
    grid-area: sec;
}
